<div class="page-header">
  <h1>About fresh-underwear.com</h1>
</div>

<p>At freshunderwear.com, we promise to deliver the freshest and cleanest underwear to your doorstep during times of your most urgent need.</p>

  <ul>On a long business trip and haven't had a chance to stop at the laundromat? - Check.</ul>
  <ul>Travelling home for the holidays at your in-laws, but your luggage was lost? - We got you covered.</ul>
  <ul>Just feeling lazy and need some new undies? - We'll hook you up.</ul>

<p>Whatever your underwear needs are, freshunderwear.com has your back!  Create an account to get started.</p>

<p><%= link_to 'Create an Account', new_user_url, class: 'btn btn-primary' %></p>

